<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>LivesOne</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>167</string>
	<key>CodePushDeploymentKey</key>
	<string>$(CODEPUSH_KEY)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Will be used for music service</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Will be used for bluetooth service</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Will be used for calendars service</string>
	<key>NSCameraUsageDescription</key>
	<string>It will be used to scan QR code or upload images</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID allows you quick and secure access to your wallet</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Provide local service</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Provide local service</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your message to user when the microsphone is accessed for the first time</string>
	<key>NSMotionUsageDescription</key>
	<string>Will be used for motion service</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need the album permission of LivesOne wallet to save the QR code</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need the album permission of LivesOne wallet to save the QR code</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Will be used for speech service</string>
	<key>UIAppFonts</key>
	<array>
		<string>DIN Alternate Bold.ttf</string>
		<string>SF-Pro-Text-Regular.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>SF-Pro-Text-Semibold.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
